body {
    overflow-y: auto;
    height: 100vh;
}

.cabecalho {
    height: 60px;
    width: 100%;
}
    

.logotipo {
    width: 50px;
    height: 50px;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 200px 0 50px 0;
}

.principal {
    
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
}

main {
    text-align: center;
    height: calc(100vh - 100px);
    width: 100%;
}

main p {
    font-size: 23px;
    
}


.rodape {
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    height: 25px;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}


